@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
    position: fixed;
    z-index: 999;
    right: 0;
    left: 0;
    top: 0;
    transition: all 0.3s;
    background: rgba(196, 196, 196, 0.1);
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 22px 0;
    }
    &__nav-menu {
        margin-left: auto;
        li {
            display: inline-block;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                background-color: #9b9bca;
                width: 0;
                height: 5px;
                transition: all 0.5s;
                bottom: -5px;
                border-radius: 2px;
            }
            &:hover {
                &::before {
                    width: 100%;
                }
            }
            & + li {
                margin-left: 58px;
            }
            a {
                font-weight: 500;
                font-size: 18px;
                line-height: 27px;
                font-family: "Poppins", sans-serif;
                color: #717784;
            }
        }
    }
    &__btn {
        margin-left: 58px;
    }
}
.modal{
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 999;
    cursor: pointer;
    &__inner{
        background-color: #fff;
        width: 500px;
        min-height: 500px;
        padding: 60px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        cursor: default;
    }
    label {
        display: block;
        font-weight: 400;
        font-size: 16px;
        line-height: 40px;
        color: $text;
    }
    input {
        width: 100%;
        padding: 11px 40px;
        background: #ffffff;
        border: 1px solid #9595c9;
        border-radius: 5px;
        font-weight: 500;
        font-size: 18px;
        line-height: 40px;
        max-width: 400px;
        height: 64px;
        color: $text;
        margin-bottom: 10px;
        &:focus {
            outline: none;
            border: 2px solid #9595c9;
            box-shadow: 0px 20px 40px rgba(149, 149, 201, 0.2);
        }
        &::placeholder {
            font-weight: 300;
            font-size: 18px;
            line-height: 40px;
            color: #9d9d9d;
        }
    }
    textarea{
        resize: none;
        width: 100%;
        min-height: 100px;
        padding: 0 35px;
        padding-top: 15px;
        margin-bottom: 25px;
        border: 1px solid #9595c9;
        &:focus {
            outline: none;
            border: 2px solid #9595c9;
            box-shadow: 0px 20px 40px rgba(149, 149, 201, 0.2);
        }
        &::placeholder {
            font-weight: 300;
            font-size: 18px;
            color: #9d9d9d;
        }
    }
    button{
        display: block;
        margin: 0 auto;
    }
    a[data-close] {
        position: absolute;
        top: 20px;
        right: 25px;
        font-size: 30px;
        transition: all 0.3s;
    }
}
.main {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    &__inner {
        max-width: 750px;
        color: #696a86;
        position: absolute;
        bottom: 150px;
        left: 404px;
    }
    &__title {
        font-size: 56px;
        line-height: 100%;
        font-weight: 700;
        letter-spacing: -1px;
        max-width: 605px;
    }
    &__text {
        font-size: 18px;
        line-height: 27px;
        font-family: "Poppins", sans-serif;
    }
}
.provide {
    color: $text;
    text-align: center;
    padding: 100px 0;
    margin-bottom: 100px;
    &__title {
        font-weight: 500;
        font-size: 26px;
        line-height: 39px;
    }
    &__text {
        max-width: 745px;
        font-size: 18px;
        line-height: 40px;
        font-weight: 400;
        margin: 0 auto;
        margin-bottom: 140px;
    }
    &__items {
        display: flex;
    }
    &__item {
        padding: 22px 20px;
        cursor: pointer;
        transition: all 0.5s;
        border-radius: 10px;
        max-width: 25%;
        border: 1px solid transparent;
        border-bottom: 7px solid transparent;
        &-img {
            margin-bottom: 20px;
        }
        &-title {
            margin-bottom: 12px;
            font-weight: 500;
            font-size: 22px;
            line-height: 40px;
        }
        &-text {
            font-size: 16px;
            line-height: 20px;
            font-weight: 400;
        }
    }
}
.people {
    color: $text;
    margin-bottom: 150px;
    &__inner {
        display: flex;
        align-items: center;
    }
    &__info {
        max-width: 50%;
        &-title {
            font-weight: 500;
            font-size: 26px;
            line-height: 39px;
        }
        &-text {
            font-size: 18px;
            line-height: 30px;
            font-weight: 400;
            max-width: 450px;
        }
    }
    &__img {
        max-width: 50%;
        width: 100%;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        min-height: 388px;
        margin-left: 25px;
        transition: all 1.5s;
    }
}
.video {
    margin-bottom: 100px;
    &__title {
        font-size: 48px;
        line-height: 140%;
        font-weight: 500;
        color: $text;
        text-align: center;
        margin-bottom: 50px;
    }
    iframe {
        width: 100%;
        min-height: 780px;
    }
}
.questions {
    padding-top: 200px;
    position: relative;
    margin-bottom: 100px;
    // &::before {
    //     content: "";
    //     position: absolute;
    //     background-image: url(../images/man.png);
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     background-position: center;
    //     width: 530px;
    //     height: 750px;
    //     top: 90px;
    //     right: 400px;
    // }
    &__man-img{
        position: absolute;
        top: -305px;
        left: -40px;
        img{
            height: 800px;
        }
    }
    &__title {
        font-size: 48px;
        line-height: 140%;
        max-width: 600px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 1030px;
            height: 1030px;
            border-radius: 50%;
            background: rgba(245, 245, 255, 0.8);
            z-index: -1;
            left: 580px;
            top: -220px;
        }
    }
    &__inner {
        display: flex;
        margin-bottom: 80px;
    }
    &__list {
        &:nth-child(2) {
            padding-top: 380px;
            margin-left: 34px;
            position: relative;
        }
        &-item {
            background: #ffffff;
            box-shadow: 0px 5px 10px #e0e0e0;
            border-radius: 23px;
            margin-bottom: 12px;
            width: 540px;
            height: 90px;
            display: flex;
            align-items: center;
            padding: 5px 35px;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            transition: all 0.5s;
            &.active{
                &::after{
                    transform: rotate(90deg);
                }
            }

            &::after {
                content: "";
                position: absolute;
                background-image: url(../images/arrow-right.png);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                width: 25px;
                height: 25px;
                right: 35px;
                transition: all 0.5s;
            }
            span {
                max-width: 380px;
            }
        }
    }
    &__btn {
        max-width: 550px;
        width: 100%;
        height: 90px;
        border: none;
        display: block;
        margin: 0 auto;
        font-size: 18px;
        line-height: 30px;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }
}
.answer {
    background: #f5f5ff;
    box-shadow: 0px 25px 59px rgba(191, 191, 236, 0.72);
    border-radius: 10px;
    transition: all 0.5s;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: -1;
    padding: 80px 35px 0;
    overflow: hidden;
}
.best {
    padding: 50px 0 100px;
    text-align: center;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: 1030px;
        height: 1030px;
        border-radius: 50%;
        background: #ffedef;
        z-index: -1;
        left: -340px;
        top: 320px;
    }
    &__girl-img{
        transition: all 1.5s;
    }
    &__title {
        font-weight: 500;
        font-size: 26px;
        line-height: 39px;
        color: $text;
        margin-bottom: 12px;
    }
    &__subtitle {
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;
        max-width: 660px;
        color: $text;
        margin: 0 auto;
        margin-bottom: 100px;
    }
    &__inner {
        padding: 55px 68px 0;
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
    }
    &__info {
        max-width: 442px;
        min-height: 545px;
        background: #ffffff;
        box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 60px 52px;
        position: relative;
        &-img {
            margin-bottom: 52px;
        }
        &-title {
            font-weight: 500;
            font-size: 26px;
            line-height: 100%;
            margin-bottom: 20px;
        }
        &-text {
            max-width: 345px;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            color: $text;
        }
        &-btn {
            width: 234px;
            color: #ffffff;
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            padding: 16px 5px;
            border-radius: 10px;
            position: absolute;
            bottom: -27px;
            left: 0;
            right: 0;
            margin: 0 auto;
            &.best__button {
                background-color: #9595c9;
                z-index: 1;
            }
            &.best__link {
                background-color: #f01f35;
            }
        }
    }
    &__feedback {
        padding: 100px 0;
        min-height: 850px;
        &-bg {
            position: relative;
            > img {
                position: absolute;
                left: -305px;
                top: -472px;
            }
            .feedback__ball {
                position: absolute;
                background-color: #ffedef;
                border-radius: 50%;
                top: 0;
                left: 0;
            }
            .feedback__smallball {
                width: 26px;
                height: 26px;
                top: -117px;
                left: 220px;
                &:nth-child(2) {
                    top: 90px;
                }
            }
            .feedback__mediumball {
                width: 48px;
                height: 48px;
                top: -202px;
                left: 267px;
                &:nth-child(4) {
                    top: 131px;
                    left: 322px;
                }
            }
            .feedback__bigball {
                width: 88px;
                height: 88px;
                top: -257px;
                left: 400px;
                &:nth-child(6) {
                    top: 115px;
                    left: 450px;
                }
            }
        }
        &-titlebox {
            max-width: 660px;
            margin-left: auto;
        }
    }
}
.best__feedback-box {
    max-width: 488px;
    padding: 60px 90px 33px 37px;
    background: #ffffff;
    box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
    border-radius: 10px;
    position: absolute;
    right: 0;
    &::after {
        content: ">";
        position: absolute;
        background-color: #eeeeee;
        width: 56px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        right: 13px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
}
.best__feedback-text {
    font-size: 18px;
    line-height: 30px;
    font-weight: 40;
    color: #9d9d9d;
}
.best__feedback-author {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.best__feedback-author__info {
    margin-right: 50px;
    text-align: left;
}
.best__feedback-author-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: $text;
}
.best__feedback-author__descr {
    font-weight: 400;
    font-size: 16px;
    color: #9d9d9d;
}
.best__feedback-author__star {
    width: 12px;
    height: 12px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}
.best__feedback-author__rating {
    display: flex;
    align-items: top;
    span {
        font-weight: 400;
        font-size: 12px;
        color: #9d9d9d;
        display: flex;
        align-items: center;
        padding-left: 5px;
    }
}
.login {
    margin-bottom: 100px;
    &__title {
        font-size: 48px;
        line-height: 140%;
        color: #402b2b;
        max-width: 580px;
        margin-bottom: 50px;
    }
    &__form {
        background: #ffffff;
        box-shadow: 0px 20px 40px rgba(149, 149, 201, 0.4);
        border-radius: 10px;
        padding: 105px 154px 60px;
        max-width: 708px;
        margin: 0 auto;
        label {
            display: block;
            font-weight: 400;
            font-size: 16px;
            line-height: 40px;
            color: $text;
        }
        input {
            width: 100%;
            padding: 11px 40px;
            background: #ffffff;
            border: 1px solid #9595c9;
            border-radius: 5px;
            font-weight: 500;
            font-size: 18px;
            line-height: 40px;
            max-width: 400px;
            height: 64px;
            color: $text;
            margin-bottom: 30px;
            &:nth-child(2) {
                margin-bottom: 40px;
            }
            &:focus {
                outline: none;
                border: 2px solid #9595c9;
                box-shadow: 0px 20px 40px rgba(149, 149, 201, 0.2);
            }
            &::placeholder {
                font-weight: 300;
                font-size: 18px;
                line-height: 40px;
                color: #9d9d9d;
            }
        }
        button {
            margin-bottom: 30px;
        }
    }
    &__register {
        font-weight: 400;
        font-size: 18px;
        line-height: 40px;
        color: $text;
        a {
            color: #f01f35;
        }
    }
}
.footer {
    padding-top: 177px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    &__inner {
        display: flex;
        justify-content: space-between;
        padding-right: 136px;
        padding-left: 136px;
        margin-bottom: 50px;
    }
    &__col {
        &-title {
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: #ffffff;
        }
        li {
            a {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #e6e6e6;
            }
        }
    }
    &__copy {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;
    }
    &__since {
        font-weight: 300;
        font-size: 16px;
        line-height: 30px;
        color: #ffffff;
    }
    &__social {
        margin-left: auto;
        &-link {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            padding: 10px;
            background-color: #ffffff;
            background-position: center;
            background-size: auto;
            background-repeat: no-repeat;
            transition: all 0.3s;
            &:hover{
                transform: scale(1.2);
            }
            & + a {
                margin-left: 30px;
            }
        }
    }
    &__logo {
        margin-left: 123px;
    }
}

@import "media";
