@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
    position: fixed;
    z-index: 999;
    right: 0;
    left: 0;
    top: 0;
    transition: all 0.3s;
    background: rgba(196, 196, 196, 0.1);
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 22px 0;
    }
    &__nav-menu {
        margin-left: auto;
        li {
            display: inline-block;
            & + li {
                margin-left: 58px;
            }
            a {
                font-weight: 500;
                font-size: 18px;
                line-height: 27px;
                font-family: "Poppins", sans-serif;
                color: #717784;
            }
        }
    }
    &__btn {
        margin-left: 58px;
    }
}
.main {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    &__inner {
        max-width: 750px;
        color: #696a86;
        position: absolute;
        bottom: 150px;
        left: 404px;
    }
    &__title {
        font-size: 56px;
        line-height: 100%;
        font-weight: 700;
        letter-spacing: -1px;
        max-width: 548px;
    }
    &__text {
        font-size: 18px;
        line-height: 27px;
        font-family: "Poppins", sans-serif;
    }
}
.provide {
    color: $text;
    text-align: center;
    padding: 100px 0;
    margin-bottom: 100px;
    &__title {
        font-weight: 500;
        font-size: 26px;
        line-height: 39px;
    }
    &__text {
        max-width: 745px;
        font-size: 18px;
        line-height: 40px;
        font-weight: 400;
        margin: 0 auto;
        margin-bottom: 140px;
    }
    &__items {
        display: flex;
    }
    &__item {
        padding: 22px 20px;
        cursor: pointer;
        transition: all 0.5s;
        border-radius: 10px;
        max-width: 25%;
        border: 1px solid transparent;
        border-bottom: 7px solid transparent;
        &-img {
            margin-bottom: 20px;
        }
        &-title {
            margin-bottom: 12px;
            font-weight: 500;
            font-size: 22px;
            line-height: 40px;
        }
        &-text {
            font-size: 16px;
            line-height: 20px;
            font-weight: 400;
        }
    }
}
.people {
    color: $text;
    &__inner {
        display: flex;
        align-items: center;
    }
    &__info {
        max-width: 50%;
        &-title {
            font-weight: 500;
            font-size: 26px;
            line-height: 39px;
        }
        &-text {
            font-size: 18px;
            line-height: 30px;
            font-weight: 400;
            max-width: 450px;
        }
    }
    &__img{
        max-width: 50%;
        width: 100%;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        min-height: 388px;
        margin-left: 25px;
    }
}

@import "media";
